.flex,
.flex-coloumn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-coloumn {
    flex-direction: column;
}

/*============= Counters - Starts =============*/

.Counters {
    position: relative;
    width: 100vw;
    height: auto;
    background: transparent;
    justify-content: space-evenly;
    gap: 40px;
    padding: 100px;
}

.Counters .overlay {
    position: absolute;
    height: auto;
    background: linear-gradient(90deg, rgba(58,171,180,1) 0%, rgba(209,137,195,1) 50%, rgba(69,252,222,1) 100%);
    opacity: 0.8;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.Counters .countUp {
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-size: 50px;
    color: white;
    z-index: 1;
}

.Counters .countUp p {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.5px;
}

.Counters .countUp p span {
    font-size: 28px;
}

/*============== Counters - Ends ==============*/