 .flex-box-card {
    /* border: 2px solid red; */
    background-color: #fff;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

 .flex-box-card .box {
    /* border: 2px solid blue; */
    width: 360px;
    height: auto;
    background-color: #FFFFFF;
    padding-bottom: 30px;
    margin: 20px 0;
    transition: all .4s;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.432);
    cursor: pointer;
}

 .flex-box-card .box:hover {
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.432);
    transform: scale(1.05);
}

 .flex-box-card .image {
    position: relative;
    /* border: 1px solid red; */
    width: 100%;
    height: 70%;
}

 .flex-box-card .image img {
    width: 100%;
    height: 100%;
}

 .flex-box-card .image span {
    position: absolute;
    left: 10px;
    bottom: -3px;
    background-color: #2ed573;
    color: #fff;
    font-size: 16px;
    padding: 2px 10px;
}

 .flex-box-card .image span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    bottom: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #05c46b transparent transparent;
}

 .flex-box-card .image span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -10px;
    bottom: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #05c46b transparent transparent transparent;
}

 .flex-box-card .info {
    margin: auto;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.288);
}

 .flex-box-card .info p {
    /* border: 1px solid greenyellow; */
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}
 .flex-box-card .info p span {
    color: #4986FC;
}

@media screen and (max-width: 768px){
     .flex-box-card .box {
        width: 300px;
    }
}