.flex-box-card {
  /* border: 2px solid red; */
  background-color: rgba(128, 128, 128, 0.2);
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;
}

.card {
/* border: 2px solid red; */
width: 320px;
height: auto;
display: flex;
flex-direction: column;
background: #fff;
border-radius: 20px;
border: 6px solid #fff;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding-bottom: 20px;
}

.card div {
flex: 1;
}

.card:hover {
border: 10px solid gold;
transform: scale(1.05);
background: gold;
color: #fff;
}
.card:hover .card-content .card-title {
color: #fff;
}

.card .image {

}

.card .image img {
width: 100%;
height: 100%;
}

.card-content {
/* border: 2px solid red; */
}

.card-title {
font-size: 22px;
color: gold;
}

.card-text {
text-align: center;
font-size: 15px;
word-spacing: 1px;
}

.card-btn {
border: none;
border-radius: 100px;
padding: 5px 30px;
color: #fff;
margin-bottom: 15px;
text-transform: uppercase;
}