address {
    /* border: 5px solid black; */
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 40px 0;
}

address .contacts {
    /* border: 5px solid red; */
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #282B32;
    color: #fff;
}
address .contacts .box {
    /* border: 1px solid blue; */
    width: 240px;
    height: 200px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
address .contacts .box .icon {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}
address .contacts .box .info {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}
address .contacts .box p {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

address .map {
    width: 500px;
    height: 450px;
}

address iframe {
    border: none;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    
    address .contacts {
        height: fit-content;
        justify-content: space-evenly;
    }
    address .map {
        width: 100%;
        height: 250px;
    }
}